.menu-sidebar li:nth-child(3) a:before,
.menu-sidebar li:nth-child(3) a:hover:before {
    background: url(img/invite/invite.svg) 50% 50% no-repeat !important;
}

.page-profile ul.menu-sidebar {
    gap: 24px;
}

.page-profile.personal-invite {
    /*
    Учесть, что данный стиль применяется только для /personal/invite/
    */
    background-image: url(img/invite/background.png);
    background-color: #F2F2F2;
    background-size: cover;
    background-position: top;
}

/*
Новые шрифты
*/

@font-face {
    font-family: 'Oswald';
    font-weight: 400;
    font-style: normal;
    src: url(fonts/Oswald-Regular.ttf) format("truetype");
    font-display: swap
}

@font-face {
    font-family: 'Oswald';
    font-weight: 700;
    font-style: normal;
    src: url(fonts/Oswald-Bold.ttf) format("truetype");
    font-display: swap
}

/*
Стили для страницы
*/

.invite-header {
    margin-bottom: 64px;
    text-align: center;
}

.invite-title {
    font-family: 'Oswald-Bold', sans-serif;
    font-style: normal;
    font-size: 70px;
    line-height: 125%;
    margin-bottom: 24px;
    text-transform: uppercase;
    background: linear-gradient(170.35deg, #EB5C24 7.27%, #F07E23 30.86%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.invite-subtitle {
    font-family: "Oswald-Regular", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 125%;
    text-transform: uppercase;
    max-width: 657px;
    margin: 0 auto;
    color: #A5280A;
}

.invite-text {
    font-family: 'Raleway-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 140%;
    max-width: 657px;
    margin: 16px auto 0;
    color: #000000;
}

.invite-steps {
    display: flex;
    background-color: #fff;
    border: 1px solid #FB7D0E;
    border-radius: 20px;
    padding: 32px;
    gap: 8px;
    text-align: center;
    justify-content: space-between;
}

.invite-step-icon img {
    width: 133px;
    height: auto;
}

.invite-step-title {
    font-family: "Oswald-Regular", sans-serif;
    font-size: 20px;
    line-height: 130%;
    margin-top: 24px;
    text-transform: uppercase;
    color: #000000;
}

.invite-step-arrow {
    padding-top: 28px;
    width: 37px;
    flex: none;
}

.invite-step-arrow svg {
    width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .invite-step-arrow-first svg {
        transform: translatex(15px);
    }

    .invite-step-arrow-last svg {
        transform: translatex(-5px);
    }
}

.invite-block {
    position: relative;
    display: flex;
    margin-top: 32px;
    border: 1px solid #FA6E0C;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    z-index: 1;
}

.invite-block-content {
    padding: 40px 32px;
}

.invite-block-title {
    font-family: "Oswald-Regular", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 110%;
    margin-bottom: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #EB5C24;
}

.invite-block-text {
    position: relative;
    background: #FFFFFF;
    border: 1px solid #EB5C24;
    border-radius: 18px;
    padding: 32px 60px 32px 16px;
}

.invite-block-context {
    font-family: 'Raleway-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #808080;
}

.invite-block-context a {
    display: inline-block;
    color: #2E98EC;
    margin-top: 6px;
}

.invite-block-copy {
    position: absolute;
    top: 24px;
    right: 16px;
    width: 24px;
    height: 28px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition-property: opacity;
    transition-duration: 300ms;
    cursor: pointer;
}

.invite-block-copy:hover {
    opacity: 0.6;
}

.invite-block-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    text-align: center;
    gap: 8px;
}

.invite-block-button button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 24px;
    gap: 16px;
    height: 50px;
    background: #F7670F;
    border-radius: 50px;
    border: none;
    box-shadow: none;
    font-family: 'Raleway-Bold';
    font-style: normal;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    transition-property: opacity;
    transition-duration: 300ms;
}

.invite-block-button button:hover {
    opacity: 0.8;
}

.invite-block-button button:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 11px;
    height: 18px;
    flex: none;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxMSAxOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAuNTg4MTM1IDAuNDgzMzk4TDEwLjQxMTkgOC43NjU2MkwwLjU4ODEzNSAxNy4wNDc5VjAuNDgzMzk4WiIgZmlsbD0id2hpdGUiLz4KPC9zdmc+Cg==")
}

.invite-block-button-sms {
    display: none;
}

.invite-block-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 30px;
    width: 263px;
    text-align: center;
    background-color: #F2F2F2;
    flex: none;
}

.invite-message-icon {
    margin-bottom: 16px;
}

.invite-message-icon img {
    width: 100px;
    height: auto;
}

.invite-message-text {
    font-family: 'Raleway-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 126.4%;
    text-align: left;
    color: #000000;
}

.invite-table {
    position: relative;
    margin-top: 32px;
    z-index: 1;
}

.invite-table-title {
    font-family: "Oswald-Regular", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 110%;
    margin-bottom: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.invite-table table {
    width: 100%;
    background-color: #FA6E0C;
    border: 1px solid #FA6E0C;
    box-shadow: 0px 29px 35px rgba(205, 10, 10, 0.25);
    border-radius: 20px;
    overflow: hidden;
}

.invite-table th {
    padding: 14px 9px;
    font-family: 'Raleway-Bold';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
    color: #000000;
    background-color: #F1F1F1;
    text-transform: uppercase;
}

.invite-table th:first-child {
    padding-left: 34px;
}

.invite-table th:last-child {
    padding-right: 34px;
}

.invite-table td {
    padding: 22px 9px;
    font-family: 'Raleway-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
    color: #000000;
}

.invite-table td:first-child {
    padding-left: 34px;
}

.invite-table td:last-child {
    padding-right: 34px;
}

.invite-table tr:nth-child(odd) td {
    border-top: 2px solid #e5e5e5;
    background-color: #F1F1F1;
}

.invite-table tr:nth-child(even) td {
    border-top: 2px solid #e5e5e5;
    background-color: #fff;
}

.invite-table-tr-hide {
    display: none;
}

.invite-table-button {
    margin-top: 24px;
    text-align: center;
}

.invite-table-button button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 24px;
    gap: 16px;
    height: 50px;
    background: #F7670F;
    border-radius: 50px;
    border: none;
    box-shadow: none;
    font-family: 'Raleway-Bold';
    font-style: normal;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    transition-property: opacity;
    transition-duration: 300ms;
}

.invite-table-button button:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 11px;
    flex: none;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTEiIHZpZXdCb3g9IjAgMCAxOCAxMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE3LjI4MjIgMC41ODgxMzVMOSAxMC40MTE5TDAuNzE3NzczIDAuNTg4MTM0TDE3LjI4MjIgMC41ODgxMzVaIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4K");
}

.invite-table-button button:hover {
    opacity: 0.8;
}

.invite-block-container {
    display: flex;
    justify-content: center;
    margin-bottom: 240px;
}

.invite-block-wrapper {
    display: flex;
    width: 100%;
    max-width: 488px;
    border: 1px solid #F7670F;
    background-color: #fff;
    border-radius: 0 0 20px 20px;
    overflow: hidden;
    box-shadow: 0px 29px 35px 0px #CD0A0A40;
}

.invite-block-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    flex: none;
}

.invite-block-left-title {
    display: inline-flex;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 38px;
    font-family: 'Oswald-Regular', sans-serif;
    font-size: 15px;
    padding: 0 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: #F7670F;
    border-bottom: 1px solid #FA6E0C;
}

.invite-block-left-value {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 120px;
    font-size: 80px;
    white-space: nowrap;
    color: #F7670F;
    font-family: "Oswald-Light", sans-serif;
    font-weight: 300;
}

.invite-block-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    flex: none;
}

.invite-block-right-title {
    display: inline-flex;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 38px;
    font-family: 'Oswald-Regular', sans-serif;
    font-size: 15px;
    padding: 0 16px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #FF8134;
    color: #fff;
    border-bottom: 1px solid #FA6E0C;
}

.invite-block-right-value {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 120px;
    font-size: 80px;
    white-space: nowrap;
    background-color: #F7670F;
    color: #fff;
    font-family: "Oswald-Light", sans-serif;
    font-weight: 300;
}

.invite-rules {
    margin-top: 64px;
    font-family: 'Raleway-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 124%;
    color: #B2B1AC;
}

.invite-rules:before {
    content: '';
    display: block;
    position: absolute;
    inset: auto 0 0 0;
    height: 700px;
    background: linear-gradient(0deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 50%, rgba(242, 242, 242, 0) 100%);
    pointer-events: none;
}

.invite-rules p {
    position: relative;
    margin-bottom: 6px;
}

.invite-rules a {
    color: #B2B1AC;
    text-decoration: underline;
}

@media (max-width: 991px) {
    .invite-block-container {
        margin-bottom: 100px;
    }
}

@media (max-width: 768px) {
    .invite-title {
        font-size: 40px;
        line-height: 125%;
        margin-bottom: 24px;
    }

    .invite-subtitle {
        font-family: "Oswald-Regular", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
    }

    .invite-text {
        font-size: 16px;
    }

    .invite-step-arrow {
        width: 20px;
        padding-top: 50px;
    }

    .invite-table th {
        font-size: 20px;
    }

    .invite-table td {
        font-size: 20px;
    }
}

@media (max-width: 767px) {
    .invite-header {
        margin-bottom: 48px;
    }

    .invite-title {
        font-size: 32px;
        margin-bottom: 10px;
    }

    .invite-subtitle {
        font-size: 24px;
        max-width: 342px;
    }

    .invite-text {
        font-size: 14px;
        max-width: 342px;
    }

    .invite-steps {
        flex-direction: column;
        padding: 24px;
    }

    .invite-step-icon img {
        width: 100px;
    }

    .invite-step-arrow {
        padding-top: 0;
        width: 100%;
    }

    .invite-step-arrow svg {
        height: 36px;
        width: 18px;
        transform: rotate(90deg);
    }

    .invite-block {
        flex-direction: column;
    }

    .invite-block-content {
        padding: 24px;
    }

    .invite-block-button-sms {
        display: inline-block;
    }

    .invite-block-message {
        flex-direction: row;
        align-items: center;
        width: 100%;
        gap: 32px;
    }

    .invite-message-icon {
        margin-bottom: 0;
    }

    .invite-table table {
        box-shadow: none;
    }

    .invite-block-container {
        margin-bottom: 140px;
    }

    .invite-block-left-value {
        height: 110px;
        font-size: 70px;
    }

    .invite-block-right-value {
        height: 110px;
        font-size: 70px;
    }
}

@media (max-width: 480px) {
    .invite-step-item {
        display: flex;
        align-items: center;
        gap: 24px;
    }

    .invite-step-title {
        margin-top: 0;
        font-size: 16px;
        width: 100%;
        text-align: left;
    }

    .invite-step-icon {
        flex: none;
    }

    .invite-block-message {
        padding: 24px;
        gap: 16px;
    }

    .invite-block-text {
        padding: 24px 40px 24px 16px;
    }

    .invite-table th {
        font-size: 14px;
    }

    .invite-table td {
        font-size: 14px;
    }

    .invite-table th:first-child {
        padding-left: 16px;
    }

    .invite-table th:last-child {
        padding-right: 16px;
    }

    .invite-table td:first-child {
        padding-left: 16px;
    }

    .invite-table td:last-child {
        padding-right: 16px;
    }

    .invite-block-container {
        margin-bottom: 70px;
    }

    .invite-block-left-title {
        font-size: 13px;
    }

    .invite-block-right-title {
        font-size: 13px;
    }

    .invite-block-left-value {
        height: 100px;
        font-size: 64px;
    }

    .invite-block-right-value {
        height: 100px;
        font-size: 64px;
    }

    .invite-rules:before {
        height: 1000px;
    }

    .invite-rules {
        margin-top: 32px;
    }
}

.invite-block-buttons {
    .invite-social {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        gap: 0 15px;
    }
}